.usability {
   background-color: $light_grey_bg;
   padding: 40px 0 50px 0;
   @media (max-width: $md3) {
      padding: 40px 0;
   }
   &__row {
      display: flex;
      justify-content: space-between;
      align-items: start;
      @media (max-width: $md2) {
         flex-direction: column;
      }
      @media (max-width: $md4) {
         max-width: 395px;
         margin: 0px auto;
      }
   }
   &__title {
      margin-bottom: 30px;
      @media (max-width: $md2) {
         font-size: 26px;
      }
      @media (max-width: $md3) {
         font-size: 28px;
         margin-bottom: 20px;
      }
   }

   &__list {
      max-width: 400px;
      margin-right: 20px;
      @media (max-width: $md2) {
         max-width: none;
         margin: 0px 0px 25px 0px;
         padding-left: 20px;
      }
   }
   &__item {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 125%;
      color: $main_text;
      opacity: 0.7;
      margin-bottom: 18px;
      position: relative;
      padding-left: 21px;
      @media (max-width: $md1) {
         font-size: 16px;
      }
      @media (max-width: $md3) {
         margin-bottom: 15px;
      }
      &:last-child {
         margin: 0px 0px 0px 0px;
      }
      &::before {
         content: '';
         width: 11px;
         height: 8px;
         position: absolute;
         top: 8px;
         left: 0;
         background: url('../img/icons/check.svg') 0 0 no-repeat;
      }
   }
   &__image {
      flex: 0 0 auto;
      max-width: 683px;
      padding-top: 32px;
      border-radius: 20px;
      background-color: #fff;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      @media (max-width: $md1) {
         max-width: 500px;
      }
      @media (max-width: $md2) {
         max-width: none;
      }
      & img {
         max-width: 100%;
         min-height: 100%;
         height: 100%;
         object-position: bottom;
         object-fit: contain;
      }
   }
}
